body {
	background-image: url('../../../assets/img/Untitled.png');
}

.generatePIN {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: rgb(190, 137, 190);
	padding: 40px;
	border: 1px solid purple;
	border-radius: 30px;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	height: fit-content;
}

.header {
	font-size: 10px;
	padding-left: 50px;
	color: rgb(66, 0, 66);
}

.button {
	background-color: rgb(190, 137, 190);
	border: 1px solid purple;
	border-radius: 10px;
	font-size: 15px;
}

.button:hover {
	background-color: rgba(128, 0, 128, 0.342);
}
.logo-image {
	border-radius: 50%;
	margin: 0 auto;
}

.text {
	background-color: rgb(252, 234, 249);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
}

.background {
	filter: blur(5px);
	margin: auto;
	position: absolute;
}

.button1 {
	position: absolute;
	background-color: rgba(128, 0, 128, 0.377);
	border-radius: 50%;
	padding: 15px;
}

.button2 {
	position: absolute;
	right: 20px;
	background-color: rgba(128, 0, 128, 0.377);
	border-radius: 50%;
	padding: 15px;
}

#pinForm {
	display: flex;
	flex-direction: column;
	position: sticky;
	padding: 10px;
	border-radius: 30px;
	height: fit-content;
}

#pinForm input {
	background-color: rgb(252, 234, 249);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	padding: 5px;
	font-size: 20px;
	text-align: center;
}
