.generatePIN {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: var(--quart-color);
	padding: 20px;
	border: 1px solid var(--quart-color);
	border-radius: 30px;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	height: fit-content;
	max-width: 90%;
}

.header {
	font-size: 10px;
	padding-left: 50px;
}

.gamepin-heading {
	text-align: center;
	font-size: 25px;
}

.button {
	background-color: var(--prim-color);
	border-radius: 10px;
	font-size: 15px;
}

.button:hover {
	background-color: var(--tert-color);
	color: var(--font-color);
	font-weight: bold;
}
.logo-image {
	border-radius: 50%;
	margin: 0 auto;
}

.text {
	background-color: var(--prim-color);
	border: 1px solid var(--quart-color);
	border-radius: 10px;
}

.button2 {
	position: absolute;
	right: 20px;
	border-radius: 0 50% 50% 0;
	padding: 5px 10px;
	top: 0px;
	right: 10px;
	background-color: transparent;
	box-shadow: none;
	color: var(--prim-color);
	font-size: 30px;
	cursor: pointer;
}

.button2:hover {
	background-color: transparent;
	box-shadow: none;
	color: var(--tert-color);
}

#pinForm {
	display: flex;
	flex-direction: column;
	position: sticky;
	padding: 10px;
	border-radius: 30px;
	height: fit-content;
}

#pinForm input {
	background-color: rgb(252, 234, 249);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	padding: 5px;
	font-size: 20px;
	text-align: center;
	outline: none;
}
