.generatePIN {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--quart-color);
	padding: 20px;
	border-radius: 30px;
	z-index: 1;
	height: fit-content;
	max-width: 80%;
	width: 250px;
	margin: auto;

	box-shadow: 4px 4px 6px 0 var(--prim-color);
}

.header {
	font-size: 10px;
	padding-left: 50px;
}

.gamepin-heading {
	text-align: center;
	font-size: 30px;
	color: var();
	width: 100%;
	margin-bottom: 20px;
	color: var(--sec-color);
}

.button {
	background-color: var(--prim-color);
	border-radius: 10px;
	font-size: 15px;
	margin: 0 auto;
}

.button:hover {
	background-color: var(--tert-color);
	color: var(--font-color);
	font-weight: bold;
}
.logo-image {
	border-radius: 50%;
	margin: 0 auto;
	max-width: 150px;
	margin-bottom: 20px;
}

.text {
	background-color: var(--prim-color);
	border: 1px solid var(--quart-color);
	border-radius: 10px;
}

.button2 {
	position: absolute;
	right: 20px;
	border-radius: 0 50% 50% 0;
	padding: 5px 10px;
	top: 0px;
	right: 10px;
	background-color: transparent;
	box-shadow: none;
	color: var(--prim-color);
	font-size: 30px;
	cursor: pointer;
}

.button2:hover {
	background-color: transparent;
	box-shadow: none;
	color: var(--tert-color);
}

#pinForm {
	display: flex;
	flex-direction: column;
	position: sticky;
	padding: 10px;
	border-radius: 30px;
	height: fit-content;
	max-width: 100%;
	overflow: hidden;
	gap: 15px;
	color: var(--sec-color);
	font-weight: bold;
}

#pinForm .form-group {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

#pinForm input {
	background-color: rgb(252, 234, 249);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	padding: 5px;
	font-size: 20px;
	text-align: center;
	outline: none;
	width: calc(100% - 10px);
}
