.landing-overlay {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

.landing-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 62, 250, 0.9);
    width: 200px;
    text-align: center;
    margin-right: 0;
    max-height: fit-content !important;
    margin-right: 0;
    max-height: fit-content !important;
    height: fit-content !important;
}

.overlay-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.nft-wallet ul {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #07010110;
    word-wrap: break-word;
    color: black;
}

.nft-wallet #nftList {
    max-height: 100px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow-y: auto;
    margin-bottom: 20px;
}