.host-view {
	display: flex;
	flex-direction: column;
	min-height: fit-content;
}

.host-view .header {
	background-color: var(--prim-color);
	color: var(--font-color);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 10px 40px;
	gap: 20px;
}

.host-view .header .quiz-details {
	display: flex;
	flex-direction: column;
	background-color: var(--quart-color);
	border-radius: 20px;
	padding: 10px;
	color: var(--prim-color);
	text-align: center;
}

.host-view .header .quiz-details #title {
	font-size: 30px;
	font-weight: bold;
}

.host-view .header .game-code {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.host-view .header .game-code #code-view {
	color: var(--prim-color);
	font-weight: bold;
	font-size: 25px;
	background-color: var(--quart-color);
	border-radius: 20px;
	padding: 5px;
}

.host-view .controls {
	display: flex;
	position: relative;
	bottom: 0px;
	justify-content: center;
	margin: 0;
	gap: 0;
	width: 100%;
	background-color: var(--tert-color);
}

.host-view .players-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 0;
	color: var(--prim-color);
	padding: 20px;
	font-size: 30px;
	min-height: 60vh;
}

.host-view .players-block .players {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	margin: 0;
	color: var(--prim-color);
	padding: 20px;
	max-width: 600px;
	flex-wrap: wrap;
	justify-content: center;
}

.host-view .players-block .players .player {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--prim-color);
	border-radius: 50px;
	padding: 10px;
	font-size: 40px;
	font-weight: bolder;
	min-width: 150px;
	min-height: 50px;
	justify-content: center;
	align-items: center;
}

.host-view .players-block .players .player:hover {
	background-color: var(--tert-color);
	color: var(--font-color);
}
