/* Styles for the host view container */
.host-view {
	display: flex;
	flex-direction: column;
	min-height: fit-content;
}

.host-view .header {
	color: var(--font-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 10px 40px;
	gap: 20px;
	border-radius: 0 0 0px 5px;
	box-shadow: 3px 3px 4px 0 var(--sec-color);
	background-color: var(--prim-color);
	width: calc(100% - 80px);
}

.host-view .header .quiz-details {
	display: flex;
	flex-direction: row;
	background-color: var(--quart-color);
	border-radius: 10px;
	padding: 10px;
	color: var(--prim-color);
	text-align: center;
	box-shadow: 2px 2px 5px 0 var(--sec-color);
	max-width: 250px;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: space-evenly;
}

.host-view .header .quiz-details #title {
	font-size: 25px;
	font-weight: bold;
	width: 100%;
}

.host-view .header .game-code {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.host-view .header .game-code #code-view {
	color: var(--prim-color);
	font-weight: bold;
	font-size: 25px;
	background-color: var(--quart-color);
	border-radius: 10px;
	padding: 5px;
}

.host-view .controls {
	display: flex;
	position: relative;
	bottom: 0px;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	gap: 20px;
	width: fit-content;
	padding-inline: 40px;
	background-color: var(--tert-color);
	margin: auto;
	border-radius: 20px 20px 0 0;
}

.host-view .controls button {
	margin: 10px 0;
	padding: 5px 10px;
}

.host-view .players-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 0;
	color: var(--prim-color);
	padding: 20px;
	font-size: 30px;
	min-height: 60vh;
}

.host-view .players-block .players {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	margin: 0;
	color: var(--prim-color);
	padding: 20px;
	max-width: 1000px;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.host-view .players-block .players .player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	text-wrap: break-word;
	word-break: break-all;
	text-align: center;
	align-items: center;
	color: var(--font-color);
	background-color: var(--prim-color);
	border-radius: 50px;
	padding: 10px;
	font-size: 35px;
	min-width: 150px;
	max-width: 350px;
	min-height: 50px;
	justify-content: center;
	align-items: center;
}

.host-view .players-block .players .player .player-address {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--quart-color);
	font-size: 30px;
	gap: 10px;
}

.host-view .players-block .players .player:hover {
	background-color: var(--tert-color);
	color: var(--font-color);
}

.game-details {
	display: grid;
	grid-template-columns: 1fr 300px;
	width: 100%;
	justify-items: center;
	align-items: start;
	margin: 0;
	padding: 0px;
	gap: 0px;
	color: var(--prim-color);
	font-size: 30px;
	max-width: 100%;
	min-height: 100%;
	min-height: 75vh;
}

.status {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 18px;
	gap: 5px;
}

.status #status-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 5px 10px;
	color: var(--prim-color);
	font-size: 18px;
	background-color: var(--quart-color);
	border-radius: 10px;
}

.players {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 20px;
	color: var(--prim-color);
	font-size: 30px;
	padding: 0 40px;
	width: 90%;
	max-width: 800px;
	margin-top: 20px;
	margin-right: 10px;
	gap: 30px;
}

.players .players-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 20px;
	color: var(--prim-color);
	font-size: 30px;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--sec-color);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--quart-color);
	}
}

.players .players-list .player {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
	justify-content: space-evenly;
	margin: 0;
	padding: 5px;
	color: var(--font-color);
	font-size: 30px;
	background-color: var(--tert-color);
	box-shadow: 2px 2px 5px 0 var(--sec-color);
	border-radius: 10px;
	min-width: 200px;
}

.players .players-list .player:hover {
	transform: scale(0.9);
}

.players .players-list .player .player-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	flex-wrap: nowrap;
	text-wrap: nowrap;
}

.players .players-list .player .player-score {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	flex-wrap: nowrap;
}

.players .players-list .player .player-address {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--quart-color);
	font-size: 23px;
	background-color: transparent;
	border-radius: 0px;
	box-shadow: none;
}

.players .players-list .player .player-address:hover {
	color: var(--font-color);
}

.players .players-list .player:hover {
	background-color: var(--quart-color);
	color: var(--font-color) !important;
}

.game-details .game-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding: 20px 0px;
	color: var(--font-color);
	font-size: 30px;
	background-color: var(--tert-color);
	min-height: 100%;
	max-width: 400px;
	min-width: 300px;
	box-shadow: -2px 0px 3px 0 var(--sec-color);
	z-index: 0;
}

.game-details .game-info h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--sec-color);
}

.game-details .game-info .rewards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	width: 85%;
}

.game-details .game-info .rewards-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	gap: 10px;
	margin-top: 20px;
	width: 100%;
	max-width: none;
}

.game-details .game-info .rewards-list .reward {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 10px;
	color: var(--font-color);
	font-size: 24px;
	background-color: var(--quart-color);
	border-radius: 10px;
	width: 100%;
	gap: 10px;
	box-shadow: 2px 2px 5px 0 var(--sec-color);
}

.game-details .game-info .rewards-list .reward .gold {
	color: var(--gold-color);
}

.silver {
	color: var(--silver-color);
}

.bronze {
	color: var(--bronze-color);
}

.game-details .game-info .rewards-list .nft-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	margin-top: 20px;
	gap: 20px;
}

.game-details .game-info .rewards-list .nft-block h4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--prim-color);
	font-size: 25px;
}

.game-details .game-info .rewards-list .nft-block .nft {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 3px 2px;
	color: var(--font-color);
	font-size: 20px;
	background-color: var(--quart-color);
	border-radius: 10px;
	width: 100%;
	gap: 10px;
	box-shadow: 2px 2px 5px 0 var(--sec-color);
	overflow: hidden;
}

.game-details .game-info .rewards-list .nft-block .nft img {
	width: 100%;
	max-width: 200px;
	border-radius: 10px;
}

.game-details .game-info .rewards-list .nft-block .nft p {
	display: none;
}

.game-details .game-info .click-open {
	display: none;
}

#fund-game {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	background: linear-gradient(360deg, var(--sec-color), var(--tert-color));
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0 var(--sec-color);
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	padding: 10px;
}

#fund-game h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--sec-color);
	margin-bottom: 10px;
}

#fund-game #fund-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	width: 90%;
	max-width: 300px;
}

#fund-game #fund-form input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--sec-color);
	font-size: 30px;
	width: 100%;
	max-width: 300px;
	background-color: var(--quart-color);
	border-radius: 10px;
	padding: 5px;
	border: none;
	box-shadow: 2px 2px 5px 0 var(--sec-color);
}

#fund-game #fund-form input:focus {
	outline: none;
}

#fund-game #fund-form button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	background-color: var(--sec-color);
	border-radius: 10px;
	padding: 5px;
	min-width: 200px;
}

#fund-game #fund-form .error-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	font-size: 20px;
	background-color: transparent;
	border-radius: 10px;
	padding: 5px;
	width: 100%;
	max-width: 300px;
	min-height: 20px;
}

#fund-game .close-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0px;
	color: var(--font-color);
	font-size: 30px;
	background-color: var(--sec-color);
	border-radius: 0px 10px 0px 10px;
	padding: 5px;
	width: 100%;
	max-width: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

/* mobile responsiveness */
@media screen and (max-width: 600px) {
	.game-details {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	.game-details .players-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.game-details .players-list .player {
		max-width: 80%;
		min-width: 80%;
	}
	.game-details .game-info {
		position: absolute;
		right: 0;
		z-index: 1;
		min-height: 67vh;
		max-height: fit-content;
		max-width: 250px;
		min-width: 250px;
		border-radius: 10px 0 0 10px;
		transform: translate(250px, 0);
		transition: all 0.5s ease-in-out;
	}

	.game-details .game-info .rewards {
		width: 80%;
	}

	.game-details .game-info .click-open {
		display: flex;
		flex-direction: row;
		position: absolute;
		left: -70px;
		top: 35%;
		color: var(--tert-color);
		font-size: 30px;
		gap: 5px;
		width: fit-content;
		height: 200px;
		justify-content: flex-start;
		align-items: center;
		padding: 10px 0;
	}

	.game-details .game-info .click-open i {
		margin: 0;
	}

	.game-details .game-info .click-open p {
		margin: 0;
		text-wrap: nowrap;
		width: fit-content;
		height: fit-content;
		padding: 0;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		color: var(--font-color);
		background-color: var(--tert-color);
		border-radius: 0 10px 10px 0;
		padding: 10px 0;
	}

	/* hover to open */
	.game-info:hover,
	.game-info:focus-within,
	.click-open:hover,
	.click-open:focus-within .game-info:focus {
		transform: translate(0, 0);
	}

	.host-view .header .game-code {
		font-size: 16px;
	}

	.host-view .header .game-code #code-view {
		font-size: 20px;
		min-width: 100px;
		text-align: center;
	}
}
