.quiz-container {
	display: flex;
	flex-direction: column;
}

.quiz-container .quiz-header {
	display: flex;
	background-color: var(--tert-color);
	color: var(--font-color);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quiz-container .quiz-header .quiz-timer {
	display: flex;
	background-color: var(--prim-color);
	color: var(--font-color);
	padding: 3px 0;
	border-radius: 10px;
	margin: 10px;
	min-width: 95%;
	max-height: 15px !important;
	min-height: 15px !important;
	align-items: center;
	overflow: hidden;
}

.quiz-container .quiz-header .quiz-timer span {
	margin: 0;
	background-color: var(--quart-color);
	width: 70%;
	border-radius: 10px;
	padding: 0 10px;
	max-height: 12px;
	min-height: 12px;
	margin-left: -5px;
}

.quiz-container .quiz-header .quiz-timer span:hover {
	background-color: var(--font-color);
}

#quiz-title {
	text-align: center;
}

.quiz-container .quiz-body {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--sec-color);
	padding-top: 30px;
	width: 100%;
}

.quiz-container .quiz-body .quiz-question {
	display: flex;
	position: relative;
	background-color: transparent;
	color: var(--prim-color);
	padding: 0 20px;
	width: 90%;
	text-align: center;
	justify-content: center;
	font-size: 30px;
	z-index: 0;
}

.quiz-container .quiz-body .quiz-options-block {
	display: grid;
	position: relative;
	grid-template-columns: repeat(2, minmax(100px, 400px));
	grid-gap: 30px;
	row-gap: 10px;
	color: var(--sec-color);
	padding: 20px;
	max-width: 700px;
	overflow: hidden;
	margin-top: 20px;
	z-index: 0;
	top: 0;
}

.quiz-container .quiz-body .quiz-options-block button {
	font-size: 20px;
	min-width: 100px;
	width: 100%;
	min-height: 70px;
	text-wrap: wrap !important;
	font-size: 25px;
}

/* score-board */
.score-board {
	position: relative;
	background-color: var(--quart-color);
	padding: 20px;
	border: 1px solid var(--prim-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	width: fit-content;
	max-width: 80%;
	box-shadow: 2px 2px 10px var(--prim-color);
}

.score-board .header {
	width: 100%;
	margin-bottom: 20px;
	color: var(--prim-color);
}

#ranking-heading {
	margin-top: 30px;
}

.score-board .body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
	min-width: 250px;
	overflow: auto;
	max-width: 100%;
	padding: 5px;

	max-height: 600px;

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--prim-color);
		border-radius: 20px;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--quart-color);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--font-color);
	}

	&::-webkit-scrollbar-thumb:active {
		background-color: var(--font-color);
	}

	&::-webkit-scrollbar-button {
		background-color: var(--quart-color);
		height: 2px;
		width: 2px;
	}

	&::-webkit-scrollbar-corner {
		background-color: var(--tert-color);
	}

	&::-webkit-scrollbar-track-piece {
		background-color: var(--tert-color);
	}
}

.scoreFont {
	font-size: 20px;
	font-style: oblique;
}
.score-board .body table {
	width: 100%;
	border: 2px solid var(--prim-color);
	border-collapse: collapse;
	text-align: center;
	min-width: 100%;
}

.score-board .body table thead tr {
	background-color: var(--tert-color);
	color: var(--font-color);
}

.score-board .body table thead tr th {
	padding: 5px 20px;
}

.score-board .body table tbody tr:nth-child(odd) {
	background-color: #29163b15;
	color: var(--sec-color);
}

.score-board .body table tbody tr {
	background-color: var(--quart-color);
	color: var(--prim-color);
	border-bottom: 1px solid var(--tert-color);
}

.score-board .body table tbody tr td {
	padding: 5px 20px;
	border-right: 1px solid var(--prim-color);
}

.score-board .body table .colA,
.score-board .body table .colC {
	width: fit-content !important;
	padding: 10px;
}

.score-board .body table .colB {
	width: auto !important;
}

.score-board .bottom {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

.score-board .bottom button {
	width: fit-content;
}

@media (max-width: 400px) {
	.quiz-container .quiz-body .quiz-options-block {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	.quiz-container .quiz-body .quiz-options-block button {
		width: fit-content !important;
		margin: 10px auto;
	}
}
