:root {
	--prim-color: #1b1a55; /* Primary color */
	--sec-color: #070f2b; /* Secondary color - darker shade of primary */
	--tert-color: #535c91; /* Tertiary color - lighter shade of primary */
	--quart-color: #9290c3; /* Quaternary color - tint of primary */
	--font-color: rgb(231, 231, 231);
	--fady-back-color: rgb(36, 1, 82, 0.2); /* Faded background color */
	--shadow-color: rgba(7, 15, 43, 0.7);
}

/********************Default styles******************/
* {
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--font-color);
	color: var(--font-color);
}

a {
	text-decoration: none;
	color: var(--font-color);
}

li {
	list-style: none;
}

button {
	padding: 10px;
	width: fit-content;
	margin: 20px auto;
	background-color: var(--prim-color);
	border: none;
	border-radius: 10px;
	font-size: 17px;
	color: var(--font-color);
	box-shadow: 1px 1px 5px 0 var(--font-color);
	text-wrap: nowrap;
}

button:hover {
	background-color: var(--sec-color);
	box-shadow: 3px 3px 5px 0 var(--shadow-color);
}
/***********************************************/
.wallet-address {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 120px;
	overflow-x: auto;
	overflow-y: hidden;
	text-align: center;

	/* Add scrollbar styles */
	&::-webkit-scrollbar {
		width: 20px;
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--prim-color);
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
.landing-overlay {
	display: flex;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	backdrop-filter: blur(4px);
}

.landing-content {
	display: flex;
	position: fixed;
	background: linear-gradient(var(--prim-color), var(--tert-color));
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	overflow: hidden;
	max-width: 400px;
	border-radius: 20px;
	flex-direction: column;
	text-align: center;
	padding: 20px;
	color: var(--font-color);
	gap: 10px;
	justify-content: center;
	font-size: 20px;
	border: none;
	max-width: 250px;
	min-width: 220px;
}

.landing-content h1 {
	font-size: 35px;
	border-bottom: 1px solid var(--quart-color);
	width: fit-content;
	margin: auto;
	color: var(--quart-color);
	font-size: 40px;
	display: none;
}

.landing-content img {
	max-width: 90%;
	margin: 10px auto;
	background-color: var(--font-color);
	padding: 0;
	border-radius: 20px;
	background-color: transparent;
}

.landing-content .overlay-buttons {
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	gap: 20px;
}

.main-content {
	display: block !important;
	z-index: 2;
	color: black;
}

.main-header {
	display: block;
	background-color: var(--tert-color);
	color: var(--font-color);
	text-align: center;
	padding: 20px 0;
	min-height: 35px;
}

.main-content {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--tert-color);
}
.circular-button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--prim-color);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 0;
	margin-right: 50px;
}

.circular-button i {
	color: var(--font-color);
	font-size: 24px;
}

.logo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 50px;
}

.logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-heading {
	display: block;
	position: absolute;
	top: 20%;
	left: 5%;
	color: var(--font-color);
	font-size: 28px;
	font-weight: bold;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 500px));
	grid-gap: 10px;
	align-items: grid-start;
	justify-content: center;
	margin-top: 170px;
	margin-bottom: 50px;
	border-radius: 20px;
	width: fit-content;
	margin-inline: auto;
	padding: 0 20px;
}

.quiz-card {
	width: 80%;
	height: fit-content;
	text-align: center;
	transition: all 300ms;
	border-radius: 20px;
	background-color: var(--quart-color);
	box-shadow: 15px 9px 10px 0px var(--shadow-color);
	color: var(--sec-color);
	padding: 20px 20px 0px 20px;
}

.btn {
	height: 40px;
	width: 70px;
	border-radius: 15px;
	margin-top: 70px;
	background-color: var(--prim-color);
	color: floralwhite;
}

.quiz-img {
	width: 90%;
	border-radius: 10%;
	margin: 20px 0 0 0;
}

.quiz-card:hover {
	width: 50%;
}

.quiz-card:nth-child(2),
.quiz-card:nth-child(4) {
	margin-top: 20px;
}

footer {
	position: relative;
	background-color: var(--tert-color);
	padding: 0;
	bottom: 0px;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0;
	overflow: hidden;
}

.navbar {
	text-align: center;
	border-radius: 50px 10px; /* Add border radius */
	background-color: #9290c3; /* Add background color */
	padding: 10px;
	margin: 0;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}

.navbar ul li {
	margin-right: 20px;
}

.navbar ul li:last-child {
	margin-right: 0;
}

.navbar ul li a {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color: var(--font-color);
	text-decoration: none;
}

.quiz-options {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--prim-color);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 5px 0 var(--shadow-color);
}

.quiz-options .head {
	margin-top: 15px;
	color: var(--font-color);
	text-align: center;
}

.quiz-options #close-btn {
	position: absolute;
	top: 5px;
	right: 10px;
	color: var(--quart-color);
	border: none;
	border-radius: 20%;
	padding: 5px;
	font-size: 20px;
}

.quiz-options #close-btn:hover {
	background-color: var(--tert-color);
}

.quiz-options .body {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.quiz-options .body button {
	background-color: var(--sec-color);
	color: var(--font-color);
}

.body-content {
	background-color: var(--tert-color);
	margin: 0;
	padding: 50px 0;
	min-height: 88vh;
}

.no-background {
	background-color: transparent !important;
	padding: 0 !important;
}

footer .navbar ul li a:hover {
	color: var(--prim-color) !important;
}

/* responsive css */
@media (max-width: 500px) {
	.container {
		grid-template-columns: repeat(1, 1fr);
	}

	.quiz-card {
		margin: 10px auto;
	}
}
@media (max-width: 400px) {
	.container {
		grid-template-columns: repeat(1, 1fr);
	}

	footer .navbar ul li i {
		font-size: 25px;
	}
	footer .navbar ul li p {
		display: none;
	}
}
