@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	width: 100%;
	text-align: center;
	color: var(--sec-color);
}

form .left-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	width: 100%;
	text-align: center;
	padding: 20px 10px;
}

form .right-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	width: 100%;
	text-align: center;
	background-color: var(--prim-color);
	min-height: 100%;
	border-radius: 50% 0 0 50%;
	color: var(--font-color);
	transition: all 0.3s ease-in-out;
}

.form-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	margin: 5px auto;
	width: 100%;
	text-align: left;
}
#login-form {
	min-width: 240px;
}

#login-form .form-group label {
	margin-left: 15px;
}

.wrapper {
	padding: 0;
	margin: 20px auto;
	background: var(--font-color);
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
	color: var(--sec-color);
	width: fit-content;
	max-width: 600px;
	overflow: hidden;
}
.wrapper h1 {
	font-size: 2rem;
	color: var(--sec-color);
	margin-bottom: 1rem;
}
.wrapper form label {
	margin-left: 20px;
}
.wrapper form input {
	width: 90%;
	padding: 6px 8px;
	margin: 4px auto;
	border-radius: 10px;
	background: var(--font-color);
	border: 1px solid #979797;
	outline: none;
	min-width: 200px;
}
.wrapper button {
	font-size: 1rem;
	width: 50%;
	padding: 8px;
	border-radius: 10px;
	color: var(--font-color);
	border: none;
	cursor: pointer;
	outline: none;
	background-color: var(--quart-color);
	box-shadow: none;
}
.wrapper button:hover {
	color: #236cf3;
	background-color: var(--font-color);
}
.wrapper input:focus {
	border: 1px solid var(--tert-color);
	box-shadow: 2px 2px 4px var(--tert-color);
}
.wrapper .terms {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
	text-align: left;
	gap: 10px;
	width: 90%;
	margin: 20px auto 10px auto;
}
.wrapper .terms input {
	margin: 0px;
	transform: scale(1.5);
	vertical-align: middle;
	cursor: pointer;
	width: fit-content !important;
	min-width: 20px !important;
}
.wrapper .terms label {
	font-size: 0.9rem;
	width: fit-content;
}
.wrapper .terms a {
	text-decoration: none;
	color: #236cf3;
}
.wrapper .login {
	font-size: 0.8rem;
	margin-top: 1rem;
	color: #636363;
}
.wrapper .login a {
	text-decoration: none;
	color: #236cf3;
}
.wrapper .recover {
	font-size: 0.8rem;
	margin: 0;
	color: #636363;
	text-decoration: none;
}
.wrapper .recover a {
	text-decoration: none;
	color: #636363;
}

@media screen and (max-width: 550px) {
	form {
		grid-template-columns: 1fr;
		margin-bottom: 20px;
	}
	form .right-group {
		background-color: transparent;
		color: var(--prim-color);
		margin: 0px;
		border-radius: 0;
	}
	form .left-group {
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
