@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.form-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	margin: 10px auto;
	width: 100%;
	text-align: left;
}

.wrapper {
	width: 230px;
	padding: 22px 16px;
	margin: 10px auto;
	background: #ffffff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
	color: var(--sec-color);
	width: fit-content;
	max-width: 300px;
}
.wrapper h1 {
	font-size: 2rem;
	color: var(--sec-color);
	margin-bottom: 1rem;
}
.wrapper form label {
	margin-left: 20px;
}
.wrapper form input {
	width: 90%;
	padding: 6px 8px;
	margin: 4px auto;
	border-radius: 10px;
	background: #ebebeb;
	border: 1px solid #979797;
	outline: none;
	min-width: 200px;
}
.wrapper button {
	font-size: 1rem;
	width: 50%;
	padding: 8px;
	border-radius: 10px;
	color: var(--font-color);
	border: none;
	cursor: pointer;
	outline: none;
}
.wrapper button:hover {
	color: #236cf3;
}
.wrapper input:focus {
	border: 1px solid var(--tert-color);
	box-shadow: 2px 2px 4px var(--tert-color);
}
.wrapper .terms {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
	text-align: left;
	gap: 10px;
	width: 90%;
	margin: 20px auto 10px auto;
}
.wrapper .terms input {
	margin: 0px;
	transform: scale(1.5);
	vertical-align: middle;
	cursor: pointer;
	width: fit-content !important;
	min-width: 20px !important;
}
.wrapper .terms label {
	font-size: 0.9rem;
	width: fit-content;
}
.wrapper .terms a {
	text-decoration: none;
	color: #236cf3;
}
.wrapper .login {
	font-size: 0.8rem;
	margin-top: 1rem;
	color: #636363;
}
.wrapper .login a {
	text-decoration: none;
	color: #236cf3;
}
.wrapper .recover {
	font-size: 0.8rem;
	margin: 0.5rem;
	color: #636363;
	text-decoration: none;
}
.wrapper .recover a {
	text-decoration: none;
	color: #636363;
}
